<!DOCTYPE html>
<html>
  <head>
    <title>Zelppy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.homePageFoodURL = "<%= image_url('homepageFood.jpg') %>"
    </script>

    <script type="text/javascript">
      window.starURL = "<%= image_url('star.png') %>"
    </script>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>"
    </script>



    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
